<div class="card m-2 h-100 fadein" style="width: 45rem;">
    <div class="h-100">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <img src="<%= image %>" class="card-img-top pb-3" alt="An image of the <%= name %> project">
          </div>
          <div class="col-md text-md-start">
            <h5 class="feat-card-title px-2"><%= name %></h5>
            <p class="card-text p-2"><%= details %></p>
            <div class="d-grid gap-2">
                <a href="/project/<%=ident%>" class="btn btn-primary">Learn More</a>
                <a href="/projects" class="btn btn-outline-dark mb-3">See All Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  